.footer {
  background-color: #000;
  color: #fff;
  padding: 200px 20px; /* Increase the padding to create a taller footer */
  text-align: center;
}

.footer__logo {
  width: 50px;
  margin-right: 10px;
}

.footer__text {
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
}

.footer__text a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.footer__text a:hover {
  color: #ccc;
}

.footer__section {
  margin-bottom: 30px;
  position: relative;
}

.footer__section:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background-color: #fff;
}

.footer__section:first-child:before,
.footer__section:last-child:before {
  display: none;
}

